doctype html
html
  head
    title= title
  body
    form(method='post' action=host + 'reset_password/' + token)
      New Password :
      input(type='password' name='password')
      input(type='submit' value='Submit')
